body{
background: rgb(14,9,92);
background: linear-gradient(41deg, rgba(14,9,92,1) 4%, rgba(66,7,83,1) 84%);
}


.navbar{
    justify-content: center!important;
}
.container-fluid{
justify-content: center!important;
}
span {
    font-size: 0.8rem!important;
}
.navbar-nav {
    align-content: center;
    align-items: center;
}

a.nav-link
{
    text-decoration: none!important;
    justify-content: center!important;
    font-weight: 715!important;
    font-size: 1.4rem;
    color:snow!important;
}

a.nav-link:hover{

    color:dimgray!important;
}
