<footer class="container align-items-end d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="col-md-4 d-flex align-items-center">
    <a href="/sweater/static" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
        <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
    </a>
    <span class="text-muted">© 2021 Company, Inc</span>
    </div>
    <div class="nav col-md-4 justify-content-end d-flex align-items-center">

    <ul class="nav justify-content-end d-flex align-items-center list-unstyled ">

        <li class="li-footer"><a class="fa fa-envelope-open fa-2x" style="text-decoration: none"></a></li>
        <li class="li-footer"><a class="fa fa-telegram fa-2x" style="text-decoration: none"></a></li>

        <li class="li-footer"><a class="fa fa-vk on fa-circle fa-2x" style="text-decoration: none"></a></li>

    </ul>
    </div>
</footer>