<nav class="navbar navbar-expand-lg bg-transparent  navbar-dark bg-dark">
    <div class="container-fluid d-flex">

        <a style="padding-left: 0" class="nav-link d-lg-none" href="/">Home</a>
        {% if current_user.is_authenticated %}
        <a style="margin-left: auto;margin-right: 10px;" href="/user/myprofile"><img class="rounded-circle "
                                                                                     src="/static/avatars/{{ current_user.id }}.png"
                                                                                     style="width: 2.1rem;"></a>
        {% endif %}

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class=" collapse navbar-collapse" id="navbarText">
            <ul class="mx-auto navbar-nav">
                <a class="nav-link center d-none d-lg-block" href="/">Home</a>
                <li class="nav-item">
                    <a class="nav-link" href="/price">Price</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/buy">Buy Boost</a>
                </li>
                {% if current_user.is_authenticated and current_user.role =="ADMIN" %}
                <li class="nav-item">
                    <a class="nav-link" href="/admin">Admin-Tools</a>
                </li>
                {% endif %}
                {% if (current_user.is_authenticated and current_user.role =="ADMIN") or (current_user.is_authenticated
                and current_user.role =="BOOSTER")%}
                <li class="nav-item">
                    <a class="nav-link" href="/orders/all">Orders</a>
                </li>
                {% endif %}
                {% if not current_user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="/user/login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user/register">Registration</a>
                </li>
                {% endif %}
                {% if current_user.is_authenticated %}

                <li class="nav-item">
                    <a class="nav-link" href="/user/myprofile">My profile</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>


    <h5 style="color: white">{{ username }}</h5>
</nav>
